.site-name {
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.75);
  &:hover {
    text-decoration: none;
  }
}
.sticky {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-section {
  margin: 0 -15px;
  box-shadow: 0 1px 5px 0px #888888;
}

.mx-auto {
  position: relative;
  .nav-links {
    display: flex;
    height: 40px;
    overflow: hidden;
    z-index: 10;
    background-color: white;
    transition: all 0.4s ease-in-out;
    &.hide {
      height: 0;
    }
  }
  .nav-search {
    position: absolute;
    z-index: 5;
    width: calc(100% - 80px);
    left: 50px;
    input:focus {
      box-shadow: none;
    }
  }
  .nav-icon {
    width: 30px;
    cursor: pointer;
  }
}
