@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $black,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}
table tbody tr,
table thead tr th,
table thead {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
code {
  color: #666;
}

.aligncenter{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
a{
  color: #2ea3f2;
}